
//importar las font-sizes
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather:wght@100&family=Roboto:wght@400;500&family=Rubik&display=swap');

//Importar font-size
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');



//Variables SASS
$font-headings: 'Roboto', sans-serif;
$font-body: 'Roboto';
$background-color-nav: hsl(0, 0%, 98%);
$font-size-body: 17px;
$color-links: hsl(273, 4%, 51%);
$color-btn: hsl(273, 4%, 51%);
$color-btns: hsl(0, 0%, 0%);
$back-banner: hsl(256, 26%, 20%);
$color-header: white;

//Declaración de funciones
@function size($t) {
    @return $t*$font-size-body;
}

//importar partials o modules
@import 'universals';

//mixins: mezclas de propiedades reusables
@mixin paddings ($t) {
    padding: $t*1px $t*4px;
}
$font-size-body:18px;

$color1: hsl(0, 0%, 98%);
$color2: hsl(0, 0%, 41%);
$color3: hsl(0, 0%, 8%);


@function size($t){
    @return $t*$font-size-body;
}
@mixin paddings1 ($t){
    padding: $t*10px; 
}
@mixin margins_top ($t){
    margin-top: $t*8px;
}
@mixin gaps ($t){
    gap: $t*10px;
}
@mixin line-heights ($t){
    line-height: $t*1px;
}

@mixin botones($s, $color-letters, $color-backg) {
    @include paddings($s);
    color: $color-letters;
    @extend body;
    font-weight: 200;
    border-radius: 20px;
    padding-bottom: 7px;
    background-color: $color-backg;
    border: 3px solid $color-letters;
    cursor: pointer;

    &:hover {
        
        color: $color-btns;
        border: 3px solid $color-btns;
    }

}

//Asignación de propiedades al body
body {
    font-family: $font-body;
    font-size: $font-size-body;
}

//reglas anidadas
.header {
    color: $color-header;
font-family: $font-headings;
max-width: 1910px;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include paddings(20);
        background-color: $color-header;
    }

    &__list {
        list-style: none;

        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: size(3);
    }
    &__hidden{
      
            display: none;
        
    }


    &__item {
        a {
            text-decoration: none;
            color: $color-links;
            font-weight: 2300;

            &:hover {
                color: $color-btns;
            }
        }

        button {
            @include botones(5, $color-btn, $background-color-nav);
            
        }

        &--mobile {
            display: none;
        }
    }

}
.hover{
    &__main{
        
   
            top: 70px;
            left: 150px;
            position: absolute;
            width: max-content;
            height: max-content;
            padding: 10px 20px;
            box-shadow: 2px 3px 20px 0px rgba(209, 209, 209, 0.75);
            color: $color-links;
            background-color: #fff;
            z-index: 3;
        
    }
    &__main2{
        top: 70px;
        left: 350px;
        position: absolute;
        width: 100px;
        height: max-content;
        padding: 10px 20px;
        box-shadow: 2px 3px 20px 0px rgba(209, 209, 209, 0.75);
        color: $color-links;
        background-color: #fff;

        z-index: 3;
    }
    &__img{
        margin-right: 10px;
    }
    &__itemDesplegable{
        margin-top: 12px;
        margin-left: 20px;
        margin-top: 10px;
        
    }
  

}
.hidden{
    display: none;
}
.container{
    display: none;
}




.main{
    margin-left: 8%;
    background-color:$color1;
    display: flex;
    @include paddings(15);
    @include gaps(10);
    .img_mobile{
        display: none;
    }
    &__left{
        display: flex;
        flex-direction: column;
        width: 800px;
        @include margins_top(13);
        
    }
    &__left h1{
        font-size: size(5);
        line-height: 80px;
    }
    &__left p{
        font-size: size(1.1);
        @include margins_top(8);
        line-height: 30px;
    }
    &__left button{
        @include margins_top(8);
        width: size(9.8);
        height: size(2.6);
        border-radius: size(0.8);
        background-color: transparent;
        cursor: pointer;
        font-weight: bolder;
        font-size: size(0.8);
        background-color: $color3;
        color: $color1;
        border: none;
        &:hover {
        
            color: rgb(5, 5, 5);
            border: 1px solid $color-btns;
            background-color: #fff;
        }
    }
   
    &__left img{
        @include margins_top(8);
        width: 130px;
        margin-right: 60px;
        justify-content: center;
    }
    &__right{
        display: flex;
    }
    &__right img{
        width: 500px;
    }
    
}




// Emplear media queries para diseño responsive
@media screen and (max-width: 1000px) {
    .header {
      &__nav{
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }
        &__item {
            display: none;

            &--mobile {
                display: block;
            }
        }

        &__banner {
            flex-direction: column-reverse;
            padding: 0;
        }

        &__img-banner {
            width: 100%;

            img {
                transform: none;
            }
        }

        &__text {
            width: 80%;
            text-align: center;
            margin: 40px 0;
            hr{
                display: none;
            }
            
        }
    }
    .menu{
        display: block;
    }
    .bacgraund{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(21, 22, 22, 0.627);
        z-index: 3;
    }
    
    .container{
        
        &__menu{
            position: absolute;
            top: -1px;
            width: 40%;
            padding-right: 5%;
            padding-left: 2%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            right: 0px;
        z-index: 3;
           
           
        }
        &__close{
            position: relative;
            
     top: 10px;
        left: 100%;
            width: 26px;
            z-index: 2;
      

        }
       
        &__lista{
           
            position: relative;
        
            left: 40px;
            font-size: 20px;
            color:$color-links;
            list-style: none;
        
        }
       
    &__item {
       
            margin-top: 20px;
            text-decoration: none;
            color: $color-links;
            font-weight: 2300;
            cursor: pointer;

            &:hover {
                color: $color-btns;
                
            }
        

    

}
      
    }
    .container__lista2{
        text-align: center;
        margin-top: 100px;
        
        font-size: 20px;
        color:$color-links;
        list-style: none;
}
.botonRegister{
position: relative;

    width: 100%;
    padding:  10px;
    border-radius: 30px;
    font-size: 18px;
    color: $color-btn;
    background-color: #fff;
    font-weight: 500;
    &:hover {
        color: $color-btns;
        
    }
}
    body{
padding: 0;
    }

    .main{
        position: relative;
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 10px;
        .img_mobile{
            display: flex;
            
            
            width: 100%;
        }
        &__left{
            position: relative;
          text-align: center;
         top: -200px;
         width: 80%;
         margin-left: 10%;
         margin-right: 10%;
         
  
        
        }
        &__left h1{
            justify-content: center;
            display: flex;
            flex-direction: row;
            font-size: 5vw;
            font-weight: bold;
        }
        &__left h1 br{
            display: none;
            
        }
        &__left p{
            
            justify-content: center;
            
         font-size: 18px;;
            @include margins_top(0.5);
            line-height: 25px;
           
            color: $color2;
            

        }
        &__imgFooter{
            position: absolute;
            top: 260px;
            width: 100%;
           margin: auto;
            display: flex;
            flex-direction: row
        }
        &__left img{
            object-fit: inherit;
            margin-left: 0px;
            margin-right: 10%;
            width: 12vw;
            height: 3.2vh
        }
        &__left button{
           margin: auto;
            @include margins_top(2);
            justify-content: center;
            
            &:hover {
        
                color: rgb(5, 5, 5);
                border: 3px solid $color-btns;
                background-color: #fff;
            }
        }

        &__right img{
            display: none;
        }
    }
}